.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.dropdown-menu {
  position: absolute;
  z-index: 1050; /* Ensures it appears above other elements */
  display: block; /* For debugging: forces it to display properly */
  top: 100%; /* Positions below the toggle button */
  left: 0;
  transform: translate3d(
    0,
    0,
    0
  ); /* Ensures the dropdown positions correctly */
}
